<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>built_filters</h1>
        <h2>i have {{c}} mango{{c|pluralize:'es'}}</h2>
        <h2>{{venky|lower}}</h2>
        <h2>{{venky|upper}}</h2>
        <h2>{{venky|capfirst}}</h2>
        <h2>{{venky|title}}</h2>
        <h2>{{venky|length}}</h2>
        <h2>{{venky|truncatewords:'4'}}</h2>
        <h2>{{venky|truncatechars:'4'}}</h2>
        <h2>{{venky|slice:'4'}}</h2>
        <h2>these {{d}} marker{{d|pluralize}} {{d|pluralize:'is,are'}} mine</h2>

    </center>
</body>
</html>